/* 
====================
Fonts
====================
*/
@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");

  src:
    url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-display: swap;
}

/* 
====================
Global Styles
====================
*/
body {
  font-family: vazir, sans-serif !important;
}

.icon {
  color: #0d6efd;
  background: #ebeafd;
  display: inline-flex;
  padding: 15px;
  border-radius: 15px;
}

/* 
====================
Card
====================
*/
.card-primary {
  background: #1b2a4e;
  color: white !important;
}

/* 
====================
Gallery
====================
*/
.gallery {
  background: #1b2a4e;
}

/* 
====================
Footer
====================
*/
.footer-link {
  text-decoration: none;
  color: #000;
}

.footer-link:hover {
  color: #3a3a3a;
}

.footer-header {
  border-bottom: 3px solid #000;
  height: 45px;
}

.footer-icon {
  color: #000;
}

.footer-icon:hover {
  cursor: pointer;
  color: #3a3a3a;
}

@media screen and (min-width: 768px) {
  .footer-header {
    width: 100% !important;
  }
}

